sync_to_s3: "yes"
privateassets_bucket_name : "devassets-housing"

#for public repo
# domain: "https://assets-sources.domaincdn.com/tmp" # without trailing slash
# mapping_directory: "public/tmp" # public path

#for private repo
domain: "https://assets-sources.domaincdn.com/private" # without trailing slash
mapping_directory: "private" # private path

